*.pyc
data/**/00-raw_pdbs/
data/**/01-benchmark_surfaces/
data/**/01-benchmark_pdbs/
data/**/02-matfile/
data/**/02-matfile/
data/**/03-coords/
data/**/04*precomputation*/
data/**/data_preparation
data/masif_site/exelogs
*.out
*.err
*.mat
*.npy
*.npz
checkpoint
data/**/cache/
**/obsolete/*
.ipynb_checkpoints
data/masif_ppi_search/descriptors/
data/masif_ppi_search_ub/descriptors/
data/masif_site/output/
tensorflow-1.9/
tensorflow_on_gpu/
