absl-py==0.7.1
astor==0.7.1
backcall==0.1.0
bleach==2.1.1
Cython==0.28.3
decorator==4.4.0
entrypoints==0.2.3
gast==0.2.2
grpcio==1.20.0
h5py==2.9.0
html5lib==1.0b10
ipykernel==4.6.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.2
jedi==0.13.3
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
astor==0.7.1
backcall==0.1.0
bleach==2.1.1
Cython==0.28.3
decorator==4.4.0
entrypoints==0.2.3
gast==0.2.2
grpcio==1.20.0
h5py==2.9.0
html5lib==1.0b10
ipykernel==4.6.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.2
jedi==0.13.3
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mistune==0.7.4
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.2.0
numpy==1.16.2
open3d-python==0.6.0.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2019.1
pyzmq==16.0.2
qtconsole==4.3.1
scikit-learn==0.20.3
scipy==1.2.1
simplegeneric==0.8.1
six==1.12.0
sympy==1.1.1
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.2
